.topside{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.searchbar{
    font: 20px;
    margin-left: 15rem;
}
.write-up{
    display: inline-block;
    margin-right: 17rem;
} 
.display{
    display: inline-block;
}